@model PersonasWeb.Models.Persona
@{
    ViewData["Title"] = "Crear Personas";
}

<div class="container-lg col-4">
    <h1>Registrar Persona</h1>
    <form asp-action="CrearPersona" method="POST">
        <!-- Nombre -->
        <div class="input-group mb-3">
            <label asp-for="Nombre" class="input-group-text">@Html.DisplayFor(m => m.Nombre)</label>
            <input asp-for="Nombre" type="text" class="form-control" placeholder="Ingresar Nombre" id="nombre">
        </div>
        <!-- Apellido -->
        <div class="input-group mb-3">
            <label asp-for="Apellido" class="input-group-text">@Html.DisplayFor(m => m.Apellido)</label>
            <input asp-for="Apellido" type="text" class="form-control" placeholder="Ingresar Apellido" id="apellido">
        </div>
        <!-- Fecha de nacimiento -->
        <div class="input-group mb-3">
            <label asp-for="FechaNacimiento" class="input-group-text">@Html.DisplayFor(m => m.FechaNacimiento)</label>
            <input asp-for="FechaNacimiento" type="date" class="form-control" id="fechaNacimiento">
        </div>
        <!-- Genero -->
        @foreach (var sexo in Enum.GetValues(typeof(Sexo)))
        {
            <div class="custom-control custom-radio custom-control-inline ">
                <label><input type="radio" asp-for="Sexo" value="@sexo" />@sexo</label>
            </div>
        }
        <!-- Ciudad -->
        <div class="form-group mb-3 mt-3">
            <div class="mb-3 mt-3">

                @Html.DropDownListFor(m => m.CiudadId,

                new SelectList((System.Collections.IEnumerable)ViewData["Ciudades"], "Id", "Nombre"),

                new { @class = "form-select" })

            </div>
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>